:host {
  display: block;
  //position: relative;
}
.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 19px -5px rgba(0, 0, 0, 0.1);
  color: #181818;
  z-index: 3;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 22px;
  vertical-align: baseline;
  span {
    color: #ccc;
    font-size: 18px;
    vertical-align: baseline;
  }
}
